<% provide :title, t(".head_title") %>
<h1><%= t ".main_title" %></h1>
<p>
  <%= raw t(".main_content",
    rails_tut_link: link_to(t("ror_tut"),
    "http://www.railstutorial.org/"),
    rails_tut_book_link: link_to(t("ror_tut_book"),
    "http://www.railstutorial.org/book"),
    rails_tut_screencasts_link: link_to(t("screencast_series"),
    "http://screencasts.railstutorial.org/"),
    rails_home_page: link_to(t("ror"), "http://rubyonrails.org/")) %>
</p>
